<!DOCTYPE html>

<html>
	<head>
		<title>PassPort</title>

	</head>

	<body>
		<% if (!isAuthenticated) { %>
			<a href="/login">Log in</a>

		<%} else { %>
			Hello, <%= user.name %>	!
			<% } %> 
	</body>
</html>
